body{
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0%;
}
.nav-item{
    display: inline;
    color: white;
}

a :active, a:hover, a :before, a{
    display: inline;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.navbar-nav{
    text-align: center;
    padding: 0%;
}
.navbar-brand{
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 40pt;
    font-weight: 500pt;
    font-style: italic;

}
.navbar{
    justify-content: center;
}
.container-fluid{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}
.container-wide{
    display: flex;
    padding: 0%;
    margin: 0%;
}

.header{
    height: 200px;
    padding-top: 10px;
    background-color: rgb(78, 78, 78);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: black;
    font-family: 'Great Vibes', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 20pt;
    font-weight: 500pt;
    
}
#home{
    background-image: url("placeholder.jpg");    
    justify-content: center;
    align-items: center;
}
#contact{
    background-image: url("placeholder.jpg");
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#about{
    background-image: url("placeholder.jpg");
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#parties{
    background-image: url("placeholder.jpg");
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#contact .header-title, .header-sub {
    margin: 0%;
}
.header{
    text-align: center;
}