body{
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0%;
    font-family: 'Great Vibes', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-weight: bolder;
}
.nav-item{
    display: inline;
    color: white;
}

.nav-item a :active, .nav-item a:hover, .nav-item a :before, .nav-item a{
    display: inline;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    text-shadow: -1px -1px 10px rgb(47, 0, 255) ;
    border: none;
}
.navbar-nav{
    text-align: center;
    padding: 0%;
    font-weight: 100;
}
.navbar-brand{
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 40pt;
    font-style: italic;
    border: solid;

}
.navbar{
    justify-content: center;
    position: fixed;
    background-color: black;
    width: 100%;
    border-bottom: solid blue;
    box-shadow: 0px 0px 20px rgb(84, 84, 255);
}


[class*="container-fluid"]{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: center;
}
[class*="container-wide"]{
    display: flex;
    padding: 0%;
    margin: 0%;
}

.body{
    flex-direction: column;
    align-items: center;
}

.header{
    height: 200px;
    padding-top: 10px;
    background-color: rgb(78, 78, 78);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: black;
    font-family: 'Great Vibes', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 20pt;
    font-weight: 500pt;
    padding-top: 175px;
    background-clip: content-box;
    
}
#home{
    background-image: url("placeholder.jpg");    
    justify-content: center;
    align-items: center;
}
#contact{
    background-image: url("placeholder.jpg");
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#about{
    background-image: url("placeholder.jpg");
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#parties{
    background-image: url("placeholder.jpg");
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#contact .header-title, .header-sub {
    margin: 0%;
}
.home-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.card{
    text-align: center;
    width: 80vw;
    padding: 5%;
    margin: 5%;
    border: solid;
}
.card-title{
    font-family: 'Great Vibes', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-style: italic;
}
.Schedule, td{
    text-align: start;
    border: solid;
    font-weight: 100;
}   
th{
    border-right: solid;
    border-left: solid;
}
th, td{
    width:10%;
    padding: 2%;
}

.Schedule, .Schedule th,.Schedule td, .card-schedule{
    border-width: 3pt;
    border-color: rgb(215, 143, 143);
    box-shadow: 0px 0px 25px red;
}
.Schedule{
    margin-left: auto;
    margin-right: auto;
}
.header{
    text-align: center;
}

form{
    width: 90%;
    flex-direction: column;
    padding: 5%;
    margin: 5%;
    border: solid;
    display: inline;
    font-size: 15pt;
    font-weight:lighter;

}
form input{
    max-width: 50%;
    background-color: black;
}
.checkbox{
    list-style: none;
    flex-flow: start;
    padding: 0%;
    margin-top: 5px;
    
}
form button{
    width: 20%;
    background-color: black;
    color: white;
}
form p{
    
    margin: 0%;
}
.thanks{
    padding-top: 150px;
}
.box-shadow-red{
    border: solid;
    border-color: rgb(248, 126, 126);
    box-shadow: 0px 0px 15px rgb(255, 0, 0);
}
.box-shadow-green{
    border: solid;
    border-color: greenyellow;
    box-shadow: 0px 0px 15px rgb(0, 255, 8);

}
.box-shadow-blue{
    border: solid;
    border-color: rgb(83, 78, 230);
    box-shadow: 0px 0px 15px rgb(25, 0, 255);
}
.no-border{
    border: none;
}
.aligne-start{
    text-align: start;
}
.no-style{
    list-style: none;
    color: white;
    padding: 0%;
}
.invisible{
    display: none;
}
.aligne-center{
    text-align: center;
}
.aligne-end{
    text-align: right;
}
.gmap{
    float: right;
    width: 40vw;
    height: 40vw;
    margin: 0%;
    margin-left: 0%;
}
.icon{
    height: 25px;

}
.social-media{
    font-size: 20pt;
}
.footer{
    flex-direction: row;
    background-color: rgb(28, 27, 27);
    min-height: fit-content;
    height: 300px;
    text-align: center;
    justify-content: space-around;
    font-weight: 100;
}
.footer a{
    color: rgb(255, 255, 255);
}
.about-cont {
    display: block;
    justify-content: center;
}
.about-cont .card {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
}
.float-end{
    align-self: flex-end;
}
.float-start{
    align-self: flex-start;
}
.about-cont .card img{
    width: 35vw;
    padding: 10px;
}

.about-cont .card p{
    width: 90%;
    text-align: left;
    font-size: 15pt;
    height: fit-content;
    padding: 5%;
    margin: 10px;

}


@media screen and (max-width: 700px)  {
    .navbar-brand{
        font-size: 30pt;
    }
    .social-media{
        font-size: 15pt;
    }
    .header-title{
        font-size: 30pt;
    }
    .footer{
        flex-direction: column;
        height: fit-content;
    }
    .header{
        padding-top: 150px;
    }
    .about-cont .card p{
        font-size: 13pt;
    
    }
}
@media screen and (max-width: 550px)  {

    .social-media{
        font-size: 12pt;
    }
    .navbar{
        position: relative;
    }
    .header{
        padding-top: 10px;
    }
    .thanks{
        padding-top: 0px;
    }
    .about-cont .card p{
        font-size: 10pt;
    
    }

}